html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: Haettenschweiler-Regular;
  src: local("Haettenschweiler-Regular"),
    local("Haettenschweiler-Regular"),
    url(Haettenschweiler-Regular.ttf);
  font-weight: bold;
}

body {
  color: #5E2F2E;
  font-family: Haettenschweiler-Regular;
  overflow: hidden;
  background-image: url(../img/freecell_bg.png);
}

.gameboard {
  width: 166vh;
  height: 100vh;
  padding: 4vh;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: flex-start;
  box-sizing: border-box;
  -webkit-background-size: contain;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

.up {
  width: 166vh;
  height: 18vh;
  display: flex;
  justify-content: space-around;
}

.park, .home, .card, .square{
  width: 14vh;
  height: 18vh;
  -webkit-background-size: contain;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

.park {
  background-image: url(../card/p.png);
}

.timer {
  width: 16.6vh;
  height: 18vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.timer h2 {
  text-align: center;
  font-size: 6.8vh;
  font-weight: bold;
  padding-top: 2.5vh;
}

#clock {
  text-align: center;
  font-size: 8vh;
  font-weight: bold;
  padding-bottom: 3.3vh;
}

#h0 {
  background-image: url(../card/s0.png);
}

#h1 {
  background-image: url(../card/h0.png);
}

#h2 {
  background-image: url(../card/d0.png);
}

#h3 {
  background-image: url(../card/c0.png);
}

.table {
  width: 130.3vh;
  height: 69vh;
  padding-top: 4vh;
  display: flex;
  justify-content: space-between;
}

.card {
  position: absolute;
  /*transition: top 0.2s;*/
}

.logo {
  -ms-align-self: flex-end;
  align-self: flex-end;
}

.logo img {  
  width: 8.3vh;
  height: 8.3vh;
}

.button {
  width: 7.5vh;
  height: 28vh;
  -ms-align-self: flex-end;
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.button button {
  width: 7.5vh;
  height: 7.5vh;
  border-radius: 50%;
  border: none;
  background-color: #FAFAD7;
  cursor: pointer;
  box-sizing: border-box;
  box-shadow: .5vh .5vh #FFAA19;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button button:active {
  box-shadow: 0 0 0 1px rgba(255,170,25, 0.15) inset, 0 0 6px rgba(255,170,25, 0.20) inset;
}

.button button>img:active {
  transform: translateY(-.1vh);
}

.button img {
  width: 5vh;
  height: 5vh;
}

#restartwindow {
  position: absolute;
  top: 32.5%;
  left: calc(50% - 35vh);
  display: none;
  width: 70vh;
  height: 35vh;
  z-index: 100;
  background-color: #FAFAD7;
  border: 1.5vh solid #FFBC00;
  border-radius: 10vh;
  font-size: 6.8vh;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

#restartwindow h2 {
  width: 100%;
  text-align: center;
  padding-top: 5.8vh;
}

#restartwindow a {
  text-decoration: none;
}

#no {
  color: #FA5050;
  margin-bottom: 5vh;
  margin-left: 8.3vh;
}

#yes {
  color: #3CBE6E;
  margin-bottom: 5vh;
  margin-right: 8.3vh;
}

.slowmove {
  transition: top .5s, left .5s;
}

#disableclick {
  position: absolute;
  display: none;
  width: 100vw;
  height: 100vh;
  z-index: 99;
  opacity: .6;
  background-color: black;
}